doctype html
html(lang="en")
	head
		//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
		//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/offline/jquery-ui.min.css")
		link(rel="stylesheet" href="/css/MeshViewer.css")
		script(src="/offline/jquery-3.2.1.slim.min.js")
		script(src="/offline/popper.min.js")
		title= "Mesh2Cap | Annotator"
		meta(charset= "UTF-8")
	body
		script(src="/build/Bundle.js")
		nav.navbar.navbar-fixed-top(id="navbar", style="background:#001a44; height: 60px") 
			a.navbar-brand(href='/apps/main',style='color:#ffffff;font-size: 20px;') &nbsp;Mesh2Cap
			div(id="helper_container", style="display: none; float: right;")
				button.btn.btn-outline-info(id="instruction_helper", style="font-size: 16px; height: 36px; width: 120px; float: right; position: relative; margin-right: 25px; border-radius: 4px;") Instructions
				button.btn.btn-outline-info(id="control_helper", style="font-size: 16px; height: 36px; width: 120px; float: right; position: relative; margin-right: 15px; border-radius: 4px;") Control
			
		div(id="id_div_root")

		script.
			$(window).on('load', function () {
				var annotator = null;
				annotator = new MeshAnnotator();
				annotator.init(!{params});
			});